.title-and-description {
  position: relative;
}

.button-container {
  margin-top: 5rem;
}

.key-word {
  color: var(--primary-color-purple);
  font-weight: bold;
}

.social-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
