.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: start;
  /* margin-left: 2rem; */
}

.container > div:nth-child(even) {
  margin-bottom: 1rem;
}

.container > div:nth-child(odd) {
  display: flex;
  align-items: center;
  color: var(--primary-color-purple);
  font-size: 1.4rem;
  font-weight: bold;
}

.container > div:nth-child(odd)::before {
  content: ""; /* Obligatoriu pentru pseudo-elemente */
  display: inline-block;
  width: 10px; /* Lățimea bullet-ului */
  height: 10px; /* Înălțimea bullet-ului */
  background-color: var(--dark-purple); /* Culoarea bullet-ului */
  border-radius: 50%; /* Îl face cerc. Șterge linia asta dacă vrei pătrat */
  margin-right: 12px; /* Spațiul dintre bullet și text */
  flex-shrink: 0; /* Împiedică bullet-ul să se turtească pe ecrane mici */
}

@media (max-width: 1000px) {
  .container {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
