.workplaceLink {
  color: var(--accent-color);
  text-decoration: none;
}

.workplaceLink:hover {
  text-decoration: underline;
}

.time {
  font-weight: bold;
  margin-bottom: 10px;
}

.experienceSection {
  margin-bottom: 2rem;
}
