.workplaceLink {
  color: var(--primary-color-purple);
  text-decoration: none;
}

.workplaceLink:hover {
  text-decoration: underline;
}

.time {
  font-weight: bold;
  margin-bottom: 10px;
}

.experienceSection {
  margin-bottom: 2rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.chevron {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-dark-purple);
  cursor: pointer;
  transition: all 0.3s ease;
}

.chevron:hover:not(:disabled) {
  transform: scale(1.1);
  color: #858585;
}

.chevron:disabled {
  color: #858585;
  cursor: not-allowed;
}

.chevron svg {
  display: block;
}
