.horizontal-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
  padding-top: 3rem;
}

.horizontal-list i {
  font-size: 3rem;
  color: grey;
}

.horizontal-list i:hover {
  color: #0f4c81;
}

.parent {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.parent li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

