.skills-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4rem;
  margin-top: 2rem;
}

.skills-grid > * {
  font-size: 1.05rem;
}

/* Add this to prevent a skill from being split between two columns */
.container {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  /* Space between rows */
  margin-bottom: 2.5rem;
}

@media (max-width: 1500px) {
  .skills-grid {
    grid-template-columns: auto;
  }
}
