.skills-grid {
  column-count: 2;
  column-gap: 4rem;
  margin-top: 2rem;
}

.skills-grid > * {
  font-size: 1.05rem;
}

/* Add this to prevent a skill from being split between two columns */
.container {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem; /* Space between rows */
}

@media (max-width: 1500px) {
  .skills-grid {
    column-count: 1; /* Stack in a single column on smaller screens */
  }

  .skills-grid > * {
    margin-bottom: 2rem; /* Reduce space between rows on smaller screens */
  }
}
