/* light mode colors */
:root {
  --bg-primary: ##000;
  --text-color: #1e1e1e;
  --text-primary: #1e1e1e;
  --accent-color: #9d00ff;
  --second-accent-color: #9d00ff;
  --dark-purple-shade: #1f0033;
  --dark-purple: #100019;
  --light-purple: #f5e5ff;
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.08);
  --white-shadow: rgba(255, 255, 255, 0.2);

  /* card colors */
  --card-bg: #ffffff;
  --card-text: #1f0033;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-border: transparent;
}

/* dark  mode colors */
body.dark {
  --bg-primary: var(--dark-purple);
  --text-color: var(--light-purple);
  --text-primary: var(--white);
  --second-accent-color: #ffdd21;

  /* card colors */
  --card-bg: #1f0033;
  --card-text: #f0e6ff;
  --card-shadow: rgba(0, 0, 0, 0.4);
  --card-border: rgba(255, 255, 255, 0.05);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--bg-primary);
  color: var(--text-color); /* text color */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family: "Segoe UI", sans-serif;
  font-size: larger;
  overflow: scroll; /* ensure scrollbar is always visible to prevent layout shifts */
}

main.content {
  margin: 4rem 4rem auto 4rem;
  max-width: 70%;
  color: var(--text-color);
}

h1.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Sekuya", system-ui;
  color: var(--text-primary);
}

@media (max-width: 800px) {
  h1.title {
    font-size: 2.5rem;
  }
}

@media (max-width: 1023px) {
  main.content {
    margin: auto 1rem;

    /* centrat pe mijloc */
    margin-left: auto !important;
    margin-right: auto !important;

    padding: 4.25rem 1rem;
    max-width: 800px;
    box-sizing: border-box;
    text-align: left;
  }

  p {
    font-size: 18px;
  }
}

img {
  cursor: pointer;
}

section {
  margin: 1rem 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

a {
  font-weight: 700;
}

.link {
  text-decoration: none;
}
