.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards > * {
  width: 30%;
}

@media (max-width: 1365px) {
  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .cards > * {
    width: 90%;
  }
}
