.container {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

@media (max-width: 1023px) {
  .container {
    display: block;
    height: auto;
    width: 100%;
  }
}
